<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="comp-alta-user-styles.html">
<link rel="import" href="../cells-molecule-input/cells-molecule-input-styles.html">
<link rel="lazy-import" href="../coronita-icons/coronita-icons.html">
<link rel="lazy-import" href="../cells-st-button/cells-st-button.html">

<dom-module id="comp-alta-user">
  <script src="comp-alta-user.js"></script>
</dom-module>